.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0c040b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

.flip-enter {
  transform: rotateY(90deg);
}
.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
}
.flip-exit {
  transform: rotateY(0deg);
}
.flip-exit-active {
  transform: rotateY(90deg);
  transition: transform 300ms;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
