@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  position: absolute;
  top: 50%;
  left: 47%;
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* on hover scale App-link and change the background */
.App-link:hover {
  transform: scale(1.2);
  background: #0c040b;
}

.flip-enter {
  transform: rotateY(90deg);
}
.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 500ms;
}
.flip-exit {
  transform: rotateY(0deg);
}
.flip-exit-active {
  transform: rotateY(90deg);
  transition: transform 500ms;
}

@keyframes roll-credits {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
