.main {
  min-height: 100vh;
  background-color: #353c45;
  color: white;
  overflow: hidden;
}

.nav-items {
  cursor: pointer;
  padding: 10px;

  color: white;
  border-radius: 15px;
  user-select: none;
}

.nav-items:hover {
  background-color: black;
}

.nav-items:active {
  scale: 1.02;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.subheader {
  flex: 1;
  min-height: 100vh;
  animation: roll-credits 20s linear infinite;
  padding: 0 20px;
}

.enter-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #0c040b;
  color: white;
  text-align: center;
  overflow: hidden;
}

.App-link {
  position: absolute;
  top: 50%;
  left: 47%;
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* on hover scale App-link and change the background */
.App-link:hover {
  transform: scale(1.2);
  background: #0c040b;
}

.flip-enter {
  transform: rotateY(90deg);
}
.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 500ms;
}
.flip-exit {
  transform: rotateY(0deg);
}
.flip-exit-active {
  transform: rotateY(90deg);
  transition: transform 500ms;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes roll-credits {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
